<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Importation</title>
  
  <!--Importer les css semantic-->
  <link rel="stylesheet" type="text/css" href="/css/semantic-ui/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
	<form class="ui form">
      <h4 class="ui dividing header">Importation</h4>
      		<div class="field">
            	<label>Type de fichier</label>
                <select class="ui fluid dropdown">
					<option value="">Type 
					<option>Stage
					<option>Alternance
					<option>Taxe
					<option>Intervenant
					<option>Tout le tralala
				</select>
            </div>
            <div class="field">
            	<label>Choisir le fichier</label>
                		<input class="inverted ui" type="file" accept=".xls, xlsx"></input>
            </div>

            <div class="ui buttons">
  				<a class="ui button" href="{{ path('accueil') }}">Annuler</a>
  						<div class="or"></div>
  				<a class="ui positive button active" href="{{ path('accueil') }}">Importer</a>
			</div>
	</form>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/css/semantic-ui/semantic.min.js"></script>
</body>
</html>
