<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Importation</title>
  <link rel="stylesheet" type="text/css" href="css/semantic-ui/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
  <link rel="stylesheet" href="style.css">


</head>

<body class="ui inverted segment">


	<div class ="importMessage ">
		<h4 class="ui header inverted centered ">Choisissez le type de fichier a importer, et cliquer sur importer pour choisir le fichier.</h4>


		<div class="ui form">
			<div class="field ">
				<div class="ui grid margin5t">
					<div class="four wide tablet one wide computer column centered">
						<form>
							<select name="Type" size="1" class="marginSize">
								<option value="">Type 
								<option>Stage
								<option>Alternance
								<option>Taxe
								<option>Intervenant
								<option>Tout le tralala
							</select>
						</form>
					</div>
				</div>

				<div class="ui grid margin2t" >
					<div class="two wide tablet one wide computer column centered">
						<button class="ui button inverted widthButton">Importer</button>
					</div>
				</div>
			</div>
		</div>
	</div>




<!--Importer les javascript semantic et jquery-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="css/semantic-ui/semantic.min.js"></script>
</body>
</html>
