<div class="ui fixed top  menu no-border no-radius borderless navmenu">
    <a class="item active no-padding logo" style="width:250px;" href="dashboard.html">

        <img class="ui image logoImg" src="/img/polytech.png" />
    </a>
    <a class="item hamburger" data-name="show">
        <i class="align justify icon"></i>
    </a>
    <div class="right menu">

        {#<div class="ui dropdown item">#}
            {#Language <i class="dropdown icon"></i>#}
            {#<div class="menu">#}
                {#<a class="item"><i class="united kingdom flag"></i>English</a>#}
                {#<a class="item"><i class="turkey flag"></i>Turkish</a>#}
                {#<a class="item"><i class="spain flag"></i>Spanish</a>#}
            {#</div>#}
        {#</div>#}
        <div class="ui dropdown item">
            <img class="ui mini circular image" src="/img/avatar/people/user.png">
            <div class="menu">

                <a class="item" href="{{ path('connection') }}">Sign Out</a>
            </div>
        </div>
    </div>
</div>
