<div class="ui fixed top  menu no-border no-radius borderless navmenu">
    <a class="item active no-padding logo" href="dashboard.html">
        <img class="ui image logoImg" src="/img/polytech.png" />
    </a>
    <h3 class="ui header">  CRM de Polytech Tours</h3>

    <div class="right menu">
        <div class="ui dropdown item">
            <img class="ui mini circular image" src="/img/avatar/people/user.png">
            <div class="menu">
                <a class="item" href="{{ path('connection') }}">Sign Out</a>
            </div>
        </div>
    </div>
</div>
