<div class="ui fixed top  menu no-border no-radius borderless navmenu">
    <a class="item active no-padding logo" href="dashboard.html">
        <img class="ui image logoImg" src="/img/polytech.png" />
    </a>
    <h3 class="ui header">  CRM de Polytech Tours</h3>

    <div class="right menu">
        <div class="ui dropdown item">
            <img class="ui mini circular image" src="/img/avatar/people/user.png">
            <div class="menu">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="item" href="{{ path('profile') }}">Profil</a>
                    <a class="item" href="{{ path('register') }}">Ajouter un nouvel admin</a>
                    <a class="item" href="{{ path('security_logout') }}">Deconnexion</a>
                {% else %}
                    <a class="item" href="{{ path('connection') }}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
