<div class="ui visible left vertical sidebar menu no-border sidemenu">

    <a href="dashboard-v1.html" class="ui medium image borderless">
        <img src="img/bg/5.png" />
    </a>
    <a class="item title" href="{{ path('accueil') }}">
        <b>Main</b>
    </a>

    <div class="ui accordion">
        <div class="content">
            <a class="item" href="{{ path('recherche') }}">
                Recherche
            </a>
            <a class="item" href="{{ path('importation') }}">
                Importation
            </a>
            <a class="item" href="#">
                Sidebar
            </a>
            <a class="item" href="#">
                Sidebar
            </a>


        </div>

    </div>
</div>