
{% extends 'base/base.html.twig' %}
{% block title %}Recherche{% endblock %}

{% block content %}
    <div id="search_enterprise">
        <div class="ui three column stackable grid container">
            <div class="four wide column">
                <div class="ui search selection dropdown">
                    <input type="hidden" name="nom_enterprise" id="nom" >
                    <i class="dropdown icon"></i>
                    <div class="default text">Entreprise</div>
                    <div class="menu">
                        {% for e in enterprise %}
                            <div class="item" data-value="{{e.nomEntreprise }}">{{e.nomEntreprise }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <button class="ui primary button" v-on:click="get_data">Recherche</button>
            </div>
        </div>

        <div class="ui one column stackable grid container">
            <div class="column">
                <table id="data_table" class="ui compact selectable striped celled table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Nom Établissement</th>
                        <th>Num Siren</th>
                        <th>Ville</th>
                        <th>Stages</th>
                        <th>Apprentis</th>
                        <th>Vacataires</th>
                        <th>Conférenciers</th>
                        <th>Taxe d'apprentissage  {{ "now" |date("Y") }}</th>
                        <th>Taxe d'apprentissage 4 ans</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}

<!--Importer les javascript semantic et jquery-->
        <script src="/plugins/datatable/jquery.dataTables.js"></script>
<script src="/css/calendar.min.js"></script>

        <script src="/js/customjs/custom-datatable.js"></script>
        <script src="/js/recherche.js"></script>
        <script>
            $('.ui.form')
                .form({
                    fields: {
                        number_siret : ['minLength[14]', 'empty']
                    }
                })
            ;
        </script>
{% endblock %}
