{% extends 'base/base.html.twig' %}
{% block content %}
    <div class="ui equal width left aligned padded grid stackable">
        <div class="row">
            <div class="eight wide tablet four wide computer column">
                <div class="ui horizontal segments">
                    <div class="ui inverted teal segment center aligned">

                        <div class="ui inverted  statistic">
                            <div class="value">
                                3,952
                            </div>
                            <div class="label">
                                Nombre d'entreprise
                            </div>
                        </div>
                    </div>
                    <div class="ui inverted teal tertiary segment center aligned">
                        <div id="sparkline1">
                        </div>
                    </div>
                </div>
            </div>

            <div class="eight wide tablet four wide computer column">
                <div class="ui horizontal segments">
                    <div class="ui inverted red segment center aligned">

                        <div class="ui inverted statistic">
                            <div class="value">
                                3,952
                            </div>
                            <div class="label">
                                Nombre d'entreprise
                            </div>
                        </div>
                    </div>
                    <div class="ui inverted red tertiary segment center aligned">
                        <div id="sparkline2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide tablet four wide computer column">
                <div class="ui horizontal segments">
                    <div class="ui inverted blue segment center aligned">

                        <div class="ui inverted statistic">
                            <div class="value">
                                3,112
                            </div>
                            <div class="label">
                                Nombre d'entreprise
                            </div>
                        </div>
                    </div>
                    <div class="ui inverted blue tertiary segment center aligned">
                        <div id="sparkline3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide tablet four wide computer column">
                <div class="ui horizontal segments">
                    <div class="ui inverted green segment center aligned">

                        <div class="ui inverted statistic">
                            <div class="value">
                                9,582
                            </div>
                            <div class="label">
                                Nombre d'entreprise
                            </div>
                        </div>
                    </div>
                    <div class="ui inverted green tertiary segment center aligned">
                        <div id="sparkline4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}