
{% extends 'base/base.html.twig' %}
{% block title %}Importation{% endblock %}
{% block content %}

	<div class="ui container">
		<div class="ui equal width center aligned padded grid stackable">
			<div class="row">
				<div class="six wide column">
					<div class="ui segments">
						<div class="ui segment inverted nightli">
							<h3 class="ui header">
								Importation
							</h3>
						</div>
						<div class="ui segment">
							<form class="ui form">
								<div class="field">
									<label>Type de fichier</label>
									<select id="type" class="ui fluid dropdown">
										<option value="">Type
										<option value="Stage">Stage
										<option value="Alternance">Alternance
										<option value="Taxe">Taxe
										<option value="Conference">Conference
										<option value="Apprentissage">Apprentissage
										<option value="Forum">Forum
										<option value="Relation">Contact Relation
									</select>
								</div>
								<div id="forum_date" style="display: none" class="field">
									<label>Date de Forum</label>
									<div class="ui calendar">
										<div class="ui input left icon">
											<i class="calendar icon"></i>
											<input id="date" type="text" placeholder="Date">
										</div>
									</div>
								</div>

								<div id="taxe_date" style="display: none" class="field">
									<label>Date</label>
									<div class="ui calendar">
										<div class="ui input left icon">
											<i class="calendar icon"></i>
											<input id="taxe_year" type="text" placeholder="Date">
										</div>
									</div>
								</div>
								<div class="field">
									<label>Choisir le fichier</label>
									<input onchange="importf(this)" id="file" class="inverted ui" type="file" accept=".xls, .xlsx"></input>
								</div>

								<div class="ui buttons">
									<a class="ui button" href="{{ path('index') }}">Annuler</a>
									<div class="or"></div>
									<button id="file_submit" class="ui positive button active" >Importer</button>
								</div>
							</form>

						</div>
						<div class="ui segment">
							<a href="{{ path('download_file') }}"><button id="download" class="ui button" >Télécharger les modèles du fichers </button></a>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
{% endblock %}
	{% block js %}

	<script lang="javascript" src="node_modules/xlsx/dist/xlsx.full.min.js"></script>
	{#<script src="/node_modules/excel-as-json/lib/excel-as-json.js"></script>#}
		<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

		<script src="/js/importation.js"></script>
		<script>

            $('#forum_date').calendar({
                type: 'date',
                monthFirst: false,
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        return year + '-' + month + '-' + day;
                    }
                }
            });
            $('#taxe_date').calendar({
                type: 'year'
            });
		</script>

{% endblock %}