{% extends 'base/base.html.twig' %}
{% block title %}Recherche{% endblock %}

{% block content %}
<div id="search_forum_custom">
	<div class="ui three column stackable grid container">
		<div class="four wide column">
			<div class="ui search selection dropdown" id="libelleDropDown">
				<input type="hidden" name="nom_forum" id="nom" >
				<i class="dropdown icon"></i>
				<div class="default text">Nom du forum</div>
				<div class="menu">
					{% for f in forum %}
						<div class="item" data-value="{{ f.libelleTypeForum }}">{{ f.libelleTypeForum }}</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui selection dropdown">
				<input type="hidden" name="annee">
				<i class="dropdown icon"></i>
				<div class="default text">Année</div>
				<div class="menu" id="myDropDown">
				</div>
			</div>
		</div>
		<div class="four wide column">
			<button class="ui primary button" id="myButton">Afficher</button>
		</div>
	</div>

	<div class="ui one column stackable grid container">
		<div class="column">
	    	<table id="data_table" class="ui compact selectable striped celled table" cellspacing="0" width="100%">
	        	<thead>
	            	<tr>
	            		<th>Nom Établissement</th>
						<th>SIRET</th>
	            	</tr>
	            </thead>
	            <tbody>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>
{% endblock %}


{% block js %}
    <script src="/plugins/datatable/jquery.dataTables.js"></script>
    <script src="/js/customjs/custom-datatable.js"></script>
    <script src="/js/search_forum.js"></script>
{% endblock %}
