<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!--Importer les css semantic-->
    <link rel="stylesheet" type="text/css" href="/css/semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" href="/style.css">

    <title>Accueil</title>

    <style type="text/css">
        .masthead.segment {
            min-height: 700px;
            padding: 5em 0em;
        }
        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 2em;
            font-weight: normal;
        }
        .masthead h2 {
            margin-top: 6em;

            font-size: 1.7em;
            font-weight: normal;
        }
    </style>

</head>
<body>
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">

                <div class="left item">
                    <!--<a class="ui inverted button"></a>-->
                    <div class="ui huge primary button"><i class="left arrow icon"></i>Entreprise </div>
                </div>
                <div class="right item">
                    <!--<a class="ui inverted button">Connexion</a>-->

                    <div class="ui huge primary button">Partenariat <i class="right arrow icon"></i></div>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
                Entreprise : $Nom Entreprise$
            </h1>
            <div class="ui one column stackable grid container">
                <div class="column">
                    <table class="ui sortable selectable celled table">
                        <thead>
                        <tr>
                            <th>Nom Entreprise</th>
                            <th>Nom Stagaire</th>
                            <th>Date Début</th>
                            <th>Date Fin</th>
                            <th>Année</th>
                            <th>Promotion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <input type="hidden" value="1" />
                            <td>John</td>
                            <td>No Action</td>
                            <td>None</td>
                            <td>John</td>
                            <td>No Action</td>
                            <td>None</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>