
.marginSize 
{
	width: 15%;
	margin-top: 5%;
	min-width: 200px
}

.importMessage
{
	margin : 5%;
}

.margin5t
{
	 margin-top : 5%;
}

.margin2t
{
	margin-top : 2%
}

.center
{
	margin-top: 5%;
}

.largeur
{
	width: 375px;
}
