
{% extends 'base/base.html.twig' %}
{% block title %}Recherche{% endblock %}

{% block content %}
    <div id="recherche_entreprise">
<div class="ui three column stackable grid container">
    <div class="ui column">
        <div class="ui calendar" id="datedebut">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Début">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui calendar" id="datefin">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="Fin">
            </div>
        </div>
    </div>

</div>

<div class="ui three column stackable grid container">
    <div class="column">
        <div class="ui search selection dropdown">
            <input type="hidden" name="nom_entreprise">
            <i class="dropdown icon"></i>
            <div class="default text">Entreprise</div>
            <div class="menu">
                <div class="item" data-value="Orange">Orange</div>
                <div class="item" data-value="Worldline">Worldline</div>
                <div class="item" data-value="Google">Google</div>
                <div class="item" data-value="Amazon">Amazon</div>
            </div>
        </div>
    </div>

    <!--
    <div class="column">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="Entreprise" />
        <label>Entreprise</label>
      </div>
    </div>
  -->
</div>

<div class="ui three column stackable grid container">
    <div class="column">
        <div class="ui selection dropdown">
            <input type="hidden" name="type">
            <i class="dropdown icon"></i>
            <div class="default text">Type de donnée</div>
            <div class="menu">
                <div class="item" data-value="1">Type1</div>
                <div class="item" data-value="2">Type2</div>
                <div class="item" data-value="3">Type3</div>
                <div class="item" data-value="4">Type4</div>
            </div>
        </div>
    </div>



    <div class="column">
        <!--  <div class="ui toggle checkbox">
          <input type="checkbox" id="Entreprise" />
          <label>Entreprise</label>
        </div>
      -->
    </div>
    <div class="column">
        <button class="ui primary button" v-on:click="get_data">Recherche</button>
    </div>

</div>

<div class="ui center aligned one column stackable grid container center">

</div>

<div class="ui one column stackable grid container">
    <div class="column">
        <table class="ui sortable selectable celled table">
            <thead>
            <tr>
                <th>Nom Entreprise</th>
                <th>Nom Stagaire</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Année</th>
                <th>Promotion</th>
            </tr>
            </thead>
            <tbody v-for="e in entreprises">
            <tr>
                {#<input type="hidden" value="1" />#}
                <td>${e.nomentreprise}</td>
                <td>${e.nomentreprise}</td>
                <td>${e.id}</td>
                <td>${e.id}</td>
                <td>${e.id}</td>
                <td>${e.id}</td>
            </tr>
            </tbody>
        </table>

    </div>


</div>
    </div>
{% endblock %}
    {% block js %}

<!--Importer les javascript semantic et jquery-->

<script src="/js/jquery.tablesort.min.js"></script>
<script src="/css/calendar.min.js"></script>
<script>
    $('.ui.dropdown').dropdown();
    $('#datedebut').calendar({
        type: 'date',
        endCalendar: $('#datefin'),
        monthFirst: false
    });
    $('#datefin').calendar({
        type: 'date',
        startCalendar: $('#datedebut'),
        monthFirst: false
    });
    $(".selectable.table td").click(function() {
        alert($(this).siblings("input").val());
    });
    $('table').tablesort();
</script>

{% endblock %}
