<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/semantic-ui/semantic.min.css">
    <link rel="stylesheet" href="/style.css">

    <title>Connexion</title>

</head>
<body>
  <form class="ui form">
      <h4 class="ui dividing header">Authentification</h4>
          <div class="two fields">
              <div class="field">
                  <label>Nom d'utilisateur</label>
                  <input name="login" placeholder="Nom d'utilisateur" type="text">
              </div>
              <div class="field">
                <label>Mot de passe</label>
                <input name="password" placeholder="Mot de passe" type="text">
              </div>
          </div>

    <div class="ui buttons">
        <a class="ui button" href="{{ path('accueil') }}">Annuler</a>
        <div class="or"></div>
        <a class="ui positive button active" href="{{ path('accueil') }}">Connexion</a>
    </div>
  </form>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/css/semantic/semantic.min.js"></script>
</body>